{% extends "base.html" %}

{% block content %}

<div class="box">
    <h3 class="heading-3">Trainer Login</h3>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}
    <form method="POST" action="/trainer/login" class="auth" autocomplete="off">
        <label for="username">Username</label>
        <input required type="text" name="username" class="auth__input">

        <label for=" password">Password</label>
        <input required type="password" name="password" class="auth__input">

        <label class="checkbox">
            <input type="checkbox" name="remember">
            Remember me
        </label>

        <button type="submit" class="btn">Login</button>
    </form>
</div>

{% endblock %}