{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}
 {% block content %}

 <div class="container-fluid" >
     <div class="row"> 
         <div class="card">
             <div class="card-body">
                 
         <div class="col-md-2 col-sm-4"></div>
           <!--Flash message -->
 
         <div class="col-md-4 col-sm-6">
             {{wtf.quick_form(log_form)}}
             <p>Don't have an account? </p>
             <a href=" {{url_for('auth.register_trainee')}} ">Register here</a>
         </div>
             </div>
         </div>
     </div>
 </div>
 {% endblock%}