<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home">Home <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>  
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item dropdown" ngDropdown>
                    <a class="nav-link uib-dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sign-up
                    </a>
                     <div>
                          <a routerLink="/trainer"><button type="button" class="btn btn-success" style="height: 30px; padding: 5px; margin-top: 10px;">Trainer</button></a>   
                      </div>

                <div>
                    <a routerLink="/trainee"><button type="button" class="btn btn-info" style="height: 30px; padding: 5px;">Trainee</button></a> 
                </div> 
                </li>
                
                <div>
                  
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdown"
                        role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Sign-in
                    </a>
                       <div>
                          <a routerLink="/trainer"><button type="button" class="btn btn-success" style="height: 30px; padding: 5px;">Trainer</button></a>   
                      </div>
                <div>
                    <a routerLink="/trainee"><button type="button" class="btn btn-info" style="height: 30px; padding: 5px;">Trainee</button></a> 
                </div> 
                </li>
                </div>
                </ul>
            
          
        </div>
    </nav>
</div>
<router-outlet></router-outlet>