<div class="box">
    <h3 class="heading-3">Traineeee Login</h3>


    <form method="POST" (ngSubmit)="loginTrainee()" class="auth" autocomplete="off">
        <label for="username">Username</label>
        <input required [(ngModel)]="username" type="text" name="username"
            class="auth__input">

        <label for=" password">Password</label>
        <input required [(ngModel)]="password" type="password" name="password"
            class="auth__input">

        <input type="submit" class="btn btn--submit" value="Login">
    </form>
</div>