<div class="container-fluid">
    <div class="top d-flex">
        <img src="../../assets/images/depositphotos_39258143-stock-illustration-businessman-avatar-profile-picture.jpg"
            alt="" class="rounded-circle border border-light" height="300px">
        <div class="profile">
            <h2 class="light-yellow">
                Profile
            </h2>
            <p>Name: John Doe</p>
            <p>Email: jogndoe@gmail.com</p>
            <p>Upcoming Sessions: Back - 2hrs | Cardio - 30mins | Chest - 1hr</p>
        </div>
    </div>
    <div class="gigs p-3">
        
        <div class="row">
            <div class="col-6 gigs_available">

                <h2 class="col p-3 text-center">Gigs Available</h2>
                <div class="column">
                    <div class="col">
                        <div class="card">
                            <div class="cards">
                                <h2 class="text-light">
                                    Gigs
                                </h2>
                                <div class="colored-text">
                                    <p>Training hours: </p>
                                    <p>Charges: </p>
                                    <p>Training category: </p>
                                </div>
                            </div>
                            <div class="booking-gigs">
                                <button type="button">Book Gig</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card">
                            <div class="cards">
                                <h2 class="text-light">
                                    Gigs
                                </h2>
                                <div class="colored-text">
                                    <p>Training hours: </p>
                                    <p>Charges: </p>
                                    <p>Training category: </p>
                                </div>

                            </div>
                            <div class="booking-gigs">
                                <button type="button">Book Gig</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card">
                            <div class="cards">
                                <h2 class="text-light">
                                    Gigs
                                </h2>
                                <div class="colored-text">
                                    <p>Training hours: </p>
                                    <p>Charges: </p>
                                    <p>Training category: </p>
                                </div>

                            </div>
                            <div class="booking-gigs">
                                <button type="button">Book Gig</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>


            <div class="d-flex col-xs-auto p-3" style="height: 60rem;">
                <div class="vr"></div>
            </div>
            <div class="col-5 active_gigs">
                <h2 class="col p-3 text-center">Active Gigs</h2>
                <div class="column">
                    <div class="col-md">
                        <div class="card green_border">
                            <div class="cards">
                                <h2 class="text-light">
                                    Gigs
                                </h2>
                                <div class="colored2-text">
                                    <p>Training hours: </p>
                                    <p>Charges: </p>
                                    <p>Training category: </p>
                                </div>

                            </div>
                            <div class="resume_gigs">
                                <button type="button">Resume Gig</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card green_border">
                            <div class="cards">
                                <h2 class="text-light">
                                    Gigs
                                </h2>
                                <div class="colored2-text">
                                    <p>Training hours: </p>
                                    <p>Charges: </p>
                                    <p>Training category: </p>
                                </div>

                            </div>
                            <div class="resume_gigs">
                                <button type="button">Resume Gig</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="card green_border">
                            <div class="cards">
                                <h2 class="text-light">
                                    Gigs
                                </h2>
                                <div class="colored2-text">
                                    <p>Training hours: </p>
                                    <p>Charges: </p>
                                    <p>Training category: </p>
                                </div>

                            </div>
                            <div class="resume_gigs">
                                <button type="button">Resume Gig</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>