<div class="container-fluid">
    <div class="top">
        <img src="../assets/images/Workout.png" alt="">
        <div class="w-100 p-3">
            <h2 class="light-yellow text-center w-25">About Us</h2>
            <p class="text-light">As Firefitness. We are not satisfied until  you see your desired results.
                <br> At the same time, we want fitness to be something you enjoy and practice. <br>
                 Our trainers will have you  want to come  back for more.
                You are training with elite coaches who know exactly what it takes to be successful. 
                <br> The positive atmosphere from our staff drives you in. welcome to firefitness and enjoy training with us!


            </p>
        </div>
        
        <div class="w-100 p-3">
            <h2 class="light-yellow text-center w-25">Services</h2>
            <p class="text-light">Our universal style of training is perfectly modified for a variety of fitness levels. <br>
                 We provide a wide range of fitness styles such as, strength training, cardio, and <br> Our group settings are like none other. <br>
                  Our community offers the best quality,affordable and  <br>
                  enjoyable training sessions. <br> The support everyone displays for each other is extremely encouraging. <br>
                   Every session is customized to put you in position to see your desired results. <br>
                Success drives confidence! And with confidence you can achieve MORE AND MORE!
            </p>
        </div>
    </div>
    <div class="contact d-flex justify-content-center">
        <form class="w-50 shadow-lg p-3 rounded-lg">
            <h2 class="light-yellow text-center">Contact</h2>
            <div class="form-group">
                <label for="exampleInputUsername1">Username</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter your name">
              </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Message</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder = "Enter your message"></textarea>
            </div>
            <button type="submit" class="btn btn-warning">Submit</button>
          </form>
    </div>
    
</div>