<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Blog</title>
</head>

<body>
    <div id="container">
        <router-outlet></router-outlet>

        <header class="header">

            <h1 class="logo_name">
                <a href="#">Fire Fitness</a>
            </h1>

            <nav class="navbar">
                <a routerLink="/login-trainee" routerLinkActive='active'
                    class="navbar-item btn">login-trainee</a>
                <a routerLink="/login-trainer" routerLinkActive='active'
                    class="navbar-item btn">login-trainer</a>
                <a routerLink="/signup-trainee" routerLinkActive='active'
                    class="navbar-item btn">signup-trainee</a>
                <a routerLink="/signup-trainer" routerLinkActive='active'
                    class="navbar-item btn">signup-trainer</a>


            </nav>

        </header>

        <main class="main">


        </main>

    </div>


</body>

</html>