<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home">Home <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>    
            </ul>
            <ul class="nav navbar-nav navbar-right">
                 <div class="col-md" style="margin-left: 500px; height: 30px;">
                    <div class="form-floating">
                    <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                        <option value="emp"></option>
                        <option value="Trainer">Trainer</option>
                        <option value="Trainee">Trainee</option>
                    
                    </select>
                    <label for="floatingSelectGrid">Sign in</label>
                    </div>
                </div>
               <!-- <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                 style="margin-left: 450px; margin-top: 10px;">
                  Sign in
                </button>
               
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                 <li> <a class="dropdown-item" href="#"> As Trainer</a></li>
                 <li> <a class="dropdown-item" href="#">As Trainee</a></li>
                </div>
              </div>
                 -->
            </ul>

       
        </div>
    </nav>
</div>

<router-outlet></router-outlet>