   
   <div class="card">
       <div class="card-body">
        <form method="POST" action="/trainee/login" class="auth" autocomplete="off">
        <label for="username">Username</label><br>
        <input required type="text" name="username" class="auth__input"><br>
        <label for=" password">Password</label><br>
        <input required type="password" name="password" class="auth__input"><br>
        <label class="checkbox">
            <input type="checkbox" name="remember">
            Remember me
        </label><br>
        <button type="submit" class="btn btn-sm btn-primary">Login</button>
    </form>
       </div>
   </div>
  
   
