<div class="container-fluid">
    <footer>
        <div class="d-flex">
            <div class="logo col-sm">
                <img src="../../assets/images/Logo.png" alt="" height="150px">
            </div>
            <div class="footer links col-sm">
                <h2>Quick Links</h2>
                <ul>
                    <li>About</li>
                    <li>Services</li>
                    <li>Contact</li>
                </ul>
            </div>
            <div class="footer cont-info col-sm">
                <div class="cont-number">
                    <h2>Contact Info</h2>
                    <div class="d-flex p-2">
                        <img src="../../assets/images/contact.png" alt="" height="30px">
                        <p>+0908-92849</p>
                    </div>
                    <div class="d-flex p-2">
                        <img src="../../assets/images/mail-svgrepo-com.png" alt="" height="30px">
                        <p>firefitness@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="social d-flex">
            <img src="../../assets/images/twitter-yellow-removebg-preview.png" alt="" height="50px">
            <img src="../../assets/images/facebook_yellow-removebg-preview.png" alt="" height="50px">
        </div>
        <p class="text-center text-light p-3">
            Copyright &copy; 2022
        </p>
    </footer>
    
</div>