<div class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">keep FIt</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <ul class="nav navbar-nav">
          <li><a href="#">About Us</a></li>
          <ul class="nav navbar-nav">
            <li><a href="#" >Services</a>
            </li>

            <ul class="nav navbar-nav navbar-right">
              {% if current_user.is_authenticated %}
              <li><a href="#">Profile</a></li>          
              <li><a href="{{url_for('auth.logout')}}">Sign out</a></li>
              {% else %}
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left: 450px; margin-top: 10px;">
                  Sign in
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                 <li> <a class="dropdown-item" href=" {{url_for('auth.login')}} "> As Trainer</a></li>
                 <li> <a class="dropdown-item" href=" {{url_for('auth.login_trainee')}} ">As Trainee</a></li>
                </div>
              </div>
               {% endif %}
            </ul>
          </div>
        </div>
      </div>
