<div class="container-fluid">
    <div class="top d-flex">
        <img src="../../assets/images/depositphotos_39258143-stock-illustration-businessman-avatar-profile-picture.jpg"
            alt="" class="rounded-circle border border-light" height="300px">
        <div class="profile">
            <h2 class="light-yellow">
                Profile
            </h2>
            <p>Name: Common Man</p>
            <p>Email: commonman@gmail.com</p>
            <p>Training Category: Back | Cardio | Chest</p>
        </div>
    </div>
    <div class="gigs">
        <h2 class="text-center">Gigs Created</h2>
        <div class="py-4">
            <div class="container">
                <div class="row p-3">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="cards">
                                <h2 class="text-light">
                                    Gigs
                                </h2>
                                <div class="colored-text">
                                    <p>Training hours: </p>
                                    <p>Charges: </p>
                                    <p>Training category: </p>
                                </div>

                            </div>
                            <div class="editing-gigs">
                                <button type="button">Edit Gig</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="cards">
                                <h2 class="text-light">
                                    Gigs
                                </h2>
                                <div class="colored-text">
                                    <p>Training hours: </p>
                                    <p>Charges: </p>
                                    <p>Training category: </p>
                                </div>

                            </div>
                            <div class="editing-gigs">
                                <button type="button">Edit Gig</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="cards">
                                <h2 class="text-light">
                                    Gigs
                                </h2>
                                <div class="colored-text">
                                    <p>Training hours: </p>
                                    <p>Charges: </p>
                                    <p>Training category: </p>
                                </div>

                            </div>
                            <div class="editing-gigs">
                                <button type="button">Edit Gig</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row p-3">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="cards">
                                <h2 class="text-light">
                                    Gigs
                                </h2>
                                <div class="colored-text">
                                    <p>Training hours: </p>
                                    <p>Charges: </p>
                                    <p>Training category: </p>
                                </div>

                            </div>
                            <div class="editing-gigs">
                                <button type="button">Edit Gig</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="cards">
                                <h2 class="text-light">
                                    Gigs
                                </h2>
                                <div class="colored-text">
                                    <p>Training hours: </p>
                                    <p>Charges: </p>
                                    <p>Training category: </p>
                                </div>

                            </div>
                            <div class="editing-gigs">
                                <button type="button">Edit Gig</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="cards">
                                <h2 class="text-light">
                                    Gigs
                                </h2>
                                <div class="colored-text">
                                    <p>Training hours: </p>
                                    <p>Charges: </p>
                                    <p>Training category: </p>
                                </div>

                            </div>
                            <div class="editing-gigs">
                                <button type="button">Edit Gig</button>
                            </div>
                        </div>
                        
                    </div>

               
            </div>
        </div>
    </div>
</div>
<div class="creating-gigs">
    <div>
        <a routerLink="/create-gig"><button type="button" class="btn btn-warning">Create Gig</button></a>   
    </div> 
</div>
</div>