<div class="container-fluid">
    <div class="top d-flex">
        <img src="../../assets/images/depositphotos_39258143-stock-illustration-businessman-avatar-profile-picture.jpg"
            alt="" class="rounded-circle border border-light" height="300px">
        <div class="profile">
            <h2 class="light-yellow">
                Profile
            </h2>
            <p>Name: Common Man</p>
            <p>Email: commonman@gmail.com</p>
            <p>Training Category: Back | Cardio | Chest</p>
        </div>
    </div>
    <div class="gigs ">
        <h2 class="text-center">Gigs Created</h2>
        <div class="py-4">
            <div class="container gigs-cont">
                <div class="gig" *ngFor=" let gig of gigs">

                    <h2 class="text-light">
                        Gigs
                    </h2>
                    <div class="colored-text">
                        <p>Training hours: {{gig.duration}} </p>
                        <p>Charges: {{gig.price}} </p>
                        <p>Training category: {{gig.category}} </p>

                        <a routerLink="/display-gig/{{gig.id}}">

                            <button class="edit-button">View Gig</button>
                        </a>
                    </div>


                </div>

            </div>
        </div>
    </div>
    <div class="creating-gigs">
        <div>
            <a routerLink="/create-gig"><button type="button"
                    class="btn btn-warning">Create Gig</button></a>
        </div>
    </div>
</div>